{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Educational Institute</h1>

<marquee behavior="scroll" direction="left">
    <p>
        This is the homepage of IDEAL EDUCATION website.It is the good Educational Institute.
        hair teaching by good experience teachers.it created by Sandip Mandal from bankura.
        This is the homepage of IDEAL EDUCATION website.It is the good Educational Institute.
        hair teaching by good experience teachers.it created by Sandip Mandal from bankura.
        This is the homepage of IDEAL EDUCATION website.It is the good Educational Institute.
        hair teaching by good experience teachers.it created by Sandip Mandal from bankura.
        This is the homepage of IDEAL EDUCATION website.It is the good Educational Institute.
        hair teaching by good experience teachers.it created by Sandip Mandal from bankura.
    </p>
</marquee>
{% endblock %}